<h1>Edit <%= @thing.name %> </h1>

<form action="/things/<%=@thing.id%>" method="PATCH">
  <input type="hidden" name="_method" value="patch">
    <label>Thing Name:</label><input type="text" name="thing_name" value="<%=@thing.name%>">

What container is the thing in?
<% @building.each do |building| %>
  <h3> <%= building.name %> Rooms: </h3>
    <% building.rooms.each do |room| %>
      <br>
      <label>Room containers: </label>
      <%container.things.each do |thing| %>
      <input type ="radio" value="<%=container.id%>" name="container" <%= 'checked' if @thing.container == container %> > <%=container.name%></input>
    <%end%>
<%end%>
