<h1>Edit <%= @container.name %> </h1>

<form action="/containers/<%=@container.id%>/edit" method="POST">
  <input type="hidden" name="_method" value="patch">
    <label>Container Name:</label><input type="text" name="container_name" value="<%=@container.name%>">

<% @buildings.each do |building| %>
  <h3> <%= building.name %> Rooms: </h3>
    <% building.rooms.each do |room| %>
      <br>
      <input type ="radio" value="<%=room.id%>" name="room" <%= 'checked' if @container.room == room %> > <%=room.name%></input>
    <%end%>
<%end%>
<br>
<br>
<input type="submit" value="Edit Container">
</form>
