<h1>Edit <%= @room.name %> </h1>

<form action="/rooms/<%=@room.id%>" method="PATCH">
  <input type="hidden" name="_method" value="patch">
    <label>Room Name:</label><input type="text" name="room_name" value="<%=@room.name%>">

  <% @buildings.each do |building| %>
    <br>
    <input type ="radio" value="<%=building.id%>" name="building"  <%= 'checked' if @room.building == building %> ><%=building.name%></input>

  <%end%>
  <input type="submit" value="Edit Room">
</form>
