<h1> Building: <%=@room.building.name%> </h1>

  <h2> Room: <%=@room.name%> </h2>

<% if !@containers.empty? %>
  <h2>Containers:</h2>
  <br>
    <% @containers.each do |container| %>
     <h3><a href="/containers/<%=container.id%>"><%=container.name%></a></h3>
    <%end%>


<% else %>

<h2>This room does not have any containers.</h2>

<%end%>

<form method="post" action="/room/<%=@room.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="Delete this room"> (This will delete all containers and things in the room)
</form>
